.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-shrink: 0;
    border-radius: 15px;
    background: white;
    backdrop-filter: blur(2px);
  }

/* .page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(95, 107, 254, 0.20) 0%, rgba(255, 168, 132, 0.20) 100%);
    backdrop-filter: blur(2px);
  } */

  .page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    background: linear-gradient(109.6deg, rgb(177, 173, 219) 11.2%, rgba(255, 168, 132, 0.4) 91.1%);    backdrop-filter: blur(2px);
  }

/* .page { */
    /* background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%); */
    /* background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%); */
    /* background: linear-gradient(76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%); */
    /* background: linear-gradient(to top, rgb(12, 52, 131) 0%, rgb(162, 182, 223) 100%, rgb(107, 140, 206) 100%, rgb(162, 182, 223) 100%); */
    /* background: linear-gradient(177.9deg, rgb(255, 228, 254) 5.3%, rgb(255, 228, 254) 5.3%, rgb(188, 132, 173) 94.7%); */
    /* background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83)); */
    /* background: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%); */
    /* background: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%); */
    /* background: linear-gradient(91.3deg, rgb(135, 174, 220) 1.5%, rgb(255, 255, 255) 100.3%);}
   */
.c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.30);
  }
  .logo {
    position: absolute;
    margin-bottom: 20px;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(13, 4, 71, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
  }

.combine {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70px;
    height:70px;
}

.img {
    order: 2;
    margin-bottom: 60px;
    /* align-self: center; */
}
  
  .login {
    width: 30%;
    height: 60vh;
    border-radius: 15px;
    background: rgba(253, 253, 253, 0.3);
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    padding: 10px;
    overflow: scroll;
}

.welcome {
    color: rgba(13, 4, 71, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    padding-top: 10px;
}

.pic {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input {
    padding-top: 20px;
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 29px;
    border-radius: 15px;
    background: rgba(13, 4, 71, 1);
    border: none;
    outline: none;
    color: #2c3e50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: transform 0.3s;
}

.click{
    display: flex;
    justify-content: center;
    align-items: center;
}

.next:hover {
    background-color: #2c3e50;
    color: rgba(13, 4, 71, 1);
    transform: scale(1.1);
}


.uploadpic {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.70);
    opacity: 0%;
}

.email,
.password {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.50);
    margin-bottom: 20px;
    border: none;
    color: #2c3e50;
}

.email::placeholder,
.password::placeholder {
    text-align: center;
    color: #2c3e50;
    font-weight: 300;
    font-style: italic;
    font-size: smaller;
}

.email,
.password,
.email:focus,
.password:focus {
    text-align: center;
    color: #2c3e50;
    font-weight: 500;
    font-style: italic;
    font-size: small;

}

.content {
    color: rgba(13, 4, 71, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    padding-left: 10px;
    padding-bottom: 10px;
}

.option {
    color: rgba(13, 4, 71, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 50;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  }
