.content {
    color: rgba(13, 4, 71, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    padding-left: 10px;
    padding-bottom: 10px;
}

.da {
    text-align: center;
    color: #2c3e50;
    font-weight: 500;
    font-style: italic;
    font-size: small;
    padding-bottom: 10px;
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 29px;
    border-radius: 15px;
    background: rgba(13, 4, 71, 1);
    border: none;
    outline: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: transform 0.3s;
}

.click{
    display: flex;
    justify-content: center;
    align-items: center;
}

.next:hover {
    background-color: white;
    color: rgba(13, 4, 71, 1);
    transform: scale(1.1);
}

.da {
  margin-bottom: 10px; /* Add margin to provide space below the selected date */
  text-align: left;
}

/* Add styles for the end date and frequency sections */
.end-date {
  margin-bottom: 10px; /* Add margin to provide space below the end date field */
}

.frequency {
  margin-top: 10px; /* Add margin to provide space above the frequency dropdown */
}
