.logo {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    color: #645075;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
  }
  
  .content {
    color: #645075;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
    margin-left: 50px;
  }

  .four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; /* Adjust the gap as needed */
  }

  /* .title {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  } */
  
  