.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-shrink: 0;
  background: white;
  backdrop-filter: blur(2px);
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  background: linear-gradient(
    180deg,
    rgba(95, 107, 254, 0.2) 0%,
    rgba(255, 163, 123, 0.2) 100%
  );
  backdrop-filter: blur(2px);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80vh;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
}
